<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="raw_console" class="org.apache.log4j.ConsoleAppender"> 
        <param name="Target" value="System.out"/> 
        <layout class="org.apache.log4j.PatternLayout"> 
            
        </layout> 
    </appender> 

    <appender name="accessAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="access.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" /> 
        </layout>
    </appender> 

    <appender name="messageAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="message.log"/>
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} - [%-5p] - %m%n" />  
        </layout>
    </appender> 

    <logger name="httpAccessLogger" additivity="false">
        <level value="info"/>
        <appender-ref ref="accessAppender" /> 
    </logger>

    <logger name="messageLogger" additivity="false">
        <level value="info"/>
        <appender-ref ref="messageAppender" /> 
    </logger>

    <logger name="local.tin.examples.jetty.embedded.logging.service.UpperCaser" additivity="false">
        <priority level="info" /> 
        <appender-ref ref="raw_console" /> 
    </logger>

    <root> 
        <priority value ="info" /> 
        <appender-ref ref="raw_console" /> 
    </root>
  
</log4j:configuration>

